		/*menu*/
.row{
	margin: 0% !important;
}
nav.navbar{
	background-color: #3E1E03;
	padding: 1.5%;	
	opacity: 0.8;
}
.rgba{
	padding: 20px;
	/*background-color: rgba(20,178,120,.6) !important;*/
	background-color: rgba(12, 2, 2, 0.71);
	border-radius: 10px;
	margin-top: 3%;
}
#mifoto{
	border-radius: 10px !important;
}
nav a{
	color: white;
}
ul.nav{
	margin-left: 10%;
}
span.icon-bar{
	background-color: #F7F844;
}
.container-fluid{
	padding: 0% !important;
}
img#logo{
	height: 50px;
	margin-left: 10px;
}
ul.nav a:hover {
    background-color: #275305;
    color: #FFFFFF;
    font-weight: bold;
}
		/*section 1*/
.pd-t-5{
padding-top: 8%;
}
.pd-b-8{
	padding-bottom: 6%;
}
h1{
	display: block;
	margin: auto;
}
h1 hr{ 
	border: 1px solid #F08703;
	width: 55%;	
	margin-bottom: 2% !important;
	color: #D8832F;
}
.dark-red{
	color: #BA4525 !important;
}
.bg-ale{
	background-image: url("../img/bg-home.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.titulo{
	font-family: 'Delius', cursive;
	letter-spacing: 1px;
}
.texto{
	font-family: 'Roboto', sans-serif;
	color: white;
}
blockquote{
	border-left: none !important; 
}
.texto-dev{
	color: #F1BA4E !important;
	letter-spacing: 2px;
}
		/*section 2 sobre mi*/
#sobre_mi{
	background-color: #F08703;
	background-size: 100% 100%;
}
#orng{
 	background-color: #FED385;
 	border-radius: 10px;
 }
 img.img-thumbnail{
 	width: 304px !important; 
 	height: 150px !important;
 }
 #habilidades>li{
	list-style: none;
	background-color:#295A00 ;
	margin: 1.5%;
	border-radius: 10px;
	letter-spacing: 5px;
	color: #F4C806;
	font-weight: 500;
} 	
#habilidades{
	padding-left: 0;
}
div#orng p{
		color: #2C4A12;
	}
/*#habilidades>li:hover{
	background-color: #295A00;
	color: #F3B900;
}*/
h3{
	letter-spacing: 5px;
}
		/*section skills*/
#skills{
	background-color: #A7A80D;	
}
.text-orange{
	color: #714901;
}
#dark-green{
	 color: #295A00
}
		/*section projects*/
div.images>img{
	height: 209px;
	width: 100%;
}
hr{
	width: 20%;
	border: 1px solid;
}
.orange{
	color: #F7A013;
}
#green{
	color: #7EAD05;
}
		/*section contacto*/
#contacto{
	background-color: #345B00;
}
#yellow{
	color: #F3F242;
}
	/*----------*/
	/*pasar a js*/
	p>a{
		color: #333333;
		font-size: 150px;
	}
	p>a:hover{
		color: #F3B900;
	}
	/*pasar a js*/
	/*----------*/
#green2{
	background-color: #122E0E;
}
		/*padding*/
.pd-1{
	padding: 1%;
}
.pd-2{
	padding: 2%;
}
.pd-3{
	padding: 3%;
}
.pd-5{
	padding: 5%;
}
.pd-b-5{
	padding-bottom: 5%;
}
.pd-b-t{
	padding-bottom: 5%;
}
.pt-3{
	padding-top: 3%;
}
.pd-t-b{
	padding-top: 9%;
}
.mt-5{
	margin-top: 5%;
}