		/*menu*/
.row{
	margin: 0% !important;
}
nav.navbar{
	background-color: #7EAC03;	
}
#mifoto{
	border-radius: 10px;
}
nav a{
	color: #F7F844;
}
ul.nav{
	margin-left: 10%;
}
span.icon-bar{
	background-color: #F7F844;
}
.container-fluid{
	padding: 0% !important;
}
img#logo{
	height: 50px;
	margin-left: 10px;
}
ul.nav a:hover{
	background-color: #F7F844;
	color: #7EAC03;
}
		/*section 1*/
.pd-t-5{
padding-top: 8%;
}
.pd-b-8{
	padding-bottom: 6%;
}
h1, h1 hr{
	width: 90%;	
	margin-bottom: 2% !important;
	border-bottom: 1px solid #D8832F;
	display: block;
	margin: auto;
}
h1 hr{
	color: #D8832F;
}
.dark-red{
	color: #BA4525 !important;
}
#bg-ale{
	background-image: url("../img/ale.jpg");
	background-size: 100% 100%;
}
.titulo{
	font-family: 'Delius', cursive;
	letter-spacing: 1px;
}
.texto{
	font-family: 'Roboto', sans-serif;
	color: white;
}
.texto-dev{
	color: #F1BA4E !important;
	letter-spacing: 2px;
}
		/*section 2 sobre mi*/
#sobre_mi{
	background-image: url("../img/conejos.jpg");
	/*background-color: #CBE32D;*/
	background-size: 100% 100%;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }
 #orng{
 	background-color: #FED385;
 	border-radius: 10px;
 }
 #habilidades>li{
	list-style: none;
	background-color: #F3B900;
	margin: 1.5%;
	border-radius: 10px;
	letter-spacing: 5px;
	color: #295A00;
	font-weight: 500;
} 	
div#orng p{
		color: #2C4A12;
	}
/*#habilidades>li:hover{
	background-color: #295A00;
	color: #F3B900;
}*/
h3{
	letter-spacing: 5px;
}
		/*section skills*/
#skills{
	background-color: #F2ECEE;	
}
.text-orange{
	color: #F3B900;
}
#dark-green{
	 color: #295A00
}
		/*section projects*/
#projects{
	background-color: #FCBA4A;
}
div.images>img{
	height: 209px;
	width: 100%;
}
hr{
	width: 20%;
	border: 3px solid;
}
.orange{
	color: #F7A013;
}
#green{
	color: #7EAD05;
}
		/*section contacto*/
#contacto{
	background-color: #345B00;
}
#yellow{
	color: #F3F242;
}
	/*----------*/
	/*pasar a js*/
	p>a{
		color: #333333;
		font-size: 150px;
	}
	p>a:hover{
		color: #F3B900;
	}
	/*pasar a js*/
	/*----------*/
#green2{
	background-color: #122E0E;
}
		/*padding*/
.pd-1{
	padding: 1%;
}
.pd-2{
	padding: 2%;
}
.pd-5{
	padding: 5%;
}
.pd-b-5{
	padding-bottom: 5%;
}
.pd-b-t{
	padding-bottom: 8%;
	padding-top: 5%;
}
.pt-3{
	padding-top: 3%;
}
.pd-t-b{
	padding-top: 9%;
	padding-bottom: 4%;

}