/*phones*/
@media (max-width: 768px) { 
	p>a{
		font-size: 70px;
		}
	h1.titulo{
		font-size: 40px;
	}
	blockquote{
	font-size: 15px;
	}
	h2.texto-dev{
		font-size: 20px;
	}
	div#orng p{
		font-size: 15px;
		letter-spacing: 2px;
		text-align: justify;
	}
	#mifoto{
		/*height: 250px;*/
		width: 50%;
	}
 }
 /*tablets*/
@media (min-width: 768px) and (max-width: 992px) {
	p>a{
		font-size: 100px;	
	}
	h1.titulo{
		font-size: 60px;
	}
	blockquote{
	font-size: 20px;
	}
	h2.texto-dev{
		font-size: 30px;
	}
	div#orng p{
		font-size: 17px;
		letter-spacing: 2px;
		text-align: justify;
	}
	#mifoto{
		/*height: 300px;*/
		max-width: 30% ;
	}
}
/*desktop*/
@media (min-width: 992px) and (max-width: 1200px) { 
	p>a{
		font-size: 120px;
	}
	h1.titulo{
		font-size: 90px;
	}
	blockquote{
	font-size: 20px;
	}
	h2.texto-dev{
		font-size: 35px;
	}
	div#orng p{
		font-size: 18px;
		letter-spacing: 2px;
		text-align: justify;
	}
	#mifoto{
		max-width: 30%;
	}
 }
 /*others*/
@media (min-width: 1200px) { 
	p>a{
		font-size: 130px;
	}
	h1.titulo{
		font-size: 110px;
	}
	blockquote{
	font-size: 25px;
	}
	h2.texto-dev{
		font-size: 35px;
	}
	div#orng p{
		font-size: 18px;
		letter-spacing: 2px;
		text-align: justify;
	}
	#mifoto{
		max-width: 40%;

	}
 }